<template>
    <div class="intro">
        <h4>Introduction</h4>

        <div class="content">

            <slot>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam,
                    pariatur, suscipit. Corporis ea iure natus numquam quae quasi qui
                    repellat sapiente. Aliquid asperiores id illo nam nulla officia quia
                    temporibus!
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Necessitatibus, quae.
                </p>
            </slot>

        </div>

    </div>
</template>

<script>
    export default {
        name: "course-intro"
    }
</script>

<style>

</style>