<template>
    <div class="block d-flex justify-content-center py-3 my-2">

        <div style="width: 200px !important;" :class="`left d-flex flex-column justify-content-center align-items-center text-${type}`">
            <slot name="left">
                <i class="fa fa-book"></i>
                Definition
            </slot>
        </div>

        <div :class="`right px-md-5 border-left border-${type}`">
           <slot name="content">
               <strong>Nombres entier :</strong> <br>

               <p>
                   Les nombres entiers sont des nombres qui ne possedent pas de
                   chiffres apres la virgule.
               </p>

           </slot>
        </div>

    </div>
</template>

<script>
    export default {
        name: "course-block",
        props: {
            type: {default: 'primary'}
        }
    }
</script>
