<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div>

        <div class="container-fluid top">
            <div class="row py-4 text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3><strong>Programme scolaire en {{ $route.params.classe }} > {{ $route.params.cours
                                }} > {{ chapitres[$route.params.chapitre - 1].name }} </strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-primary" style="height: 10px;"></div>


        <div class="container py-4 pb-5 mb-5">
            <div class="row">

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-12 sticky-top sub-programm-left">


                            <div class="py-4">
                                <h5>Chapitre {{ chapitres[$route.params.chapitre - 1].number }} - <span class="text-primary">{{ chapitres[$route.params.chapitre - 1].name }}</span>
                                </h5>

                                <div class="list-group">
                                    <router-link
                                            :to="{ name: 'chapter', params: {classe: $route.params.classe, cours: $route.params.cours, chapter: chapitres[$route.params.chapitre - 1].number} }"
                                            class="list-group-item d-flex justify-content-between"
                                            v-for="(lecon, index) in chapitres[$route.params.chapitre - 1].lecons"
                                            v-bind:key="index"
                                            v-bind:title="lecon">
                                    <span>
                                        {{ lecon }}
                                    </span>

                                        <span class="text-primary">
                                    <i class="fa fa-chevron-right"></i>
                                </span>

                                    </router-link>

                                </div>

                            </div>

                            <div class="py-4">
                                <h5>Matires du CP</h5>

                                <div class="col-12">
                                    <div class="row">
                                        <inline-course-item>
                                            <img slot="image" src="@img/course-icons/calculator.svg" alt="" class="w-100">
                                        </inline-course-item>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <h4>
                        Chapitre 01 - <span class="text-primary"> Additions à deux chiffres</span>
                    </h4>

                    <h1>
                        Nombres entiers et decimaux : definiton, reperage et comparaisons
                    </h1>

                    <!-- Onglets -->
                    <div class="row">
                        <div class="col-12">
                            <b-tabs justified >

                                <b-tab active>
                                    <template v-slot:title >
                                        <img src="@img/vectors/list.svg" alt="">
                                        Cours
                                    </template>

                                    <div class="row py-3">

                                        <hr>

                                        <div class="col-md-10">

                                            <course-intro>

                                            </course-intro>

                                            <div>

                                                <title-grand/>

                                                <div class="content py-3">

                                                    <course-subtitle/>

                                                    <course-block></course-block>

                                                    <course-block type="danger">

                                                        <template slot="left">
                                                            <slot name="left">
                                                                <i class="fa fa-lightbulb"></i>
                                                                Astuce
                                                            </slot>
                                                        </template>

                                                        <template slot="content">
                                                            <strong>Nombres entier :</strong> <br>

                                                            <p>
                                                                Les nombres entiers sont des nombres qui ne possedent pas de
                                                                chiffres apres la virgule.
                                                            </p>
                                                        </template>

                                                    </course-block>


                                                    <course-block></course-block>
                                                    <course-block></course-block>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-2 position-relative">

                                            <div class="row sticky-top top-80">
                                                <div class="col-12 sticky-top top-80 py-5">
                                                    <div class="w-100 px py-2 rounded-lg bg-primary text-white text-center">
                                                        <b-icon-download font-scale="3"></b-icon-download>
                                                        <br>
                                                        Telecharger le PDF
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </b-tab>

                                <b-tab>
                                    <template v-slot:title>
                                        <img src="@img/vectors/paper.svg" alt="">
                                        Fiches
                                    </template>
                                </b-tab>

                                <b-tab>
                                    <template v-slot:title>
                                        <img src="@img/vectors/quiz.svg" alt="">
                                        Quizz
                                    </template>
                                </b-tab>

                                <b-tab>
                                    <template v-slot:title>
                                        <img src="@img/vectors/pencil.svg" alt="">
                                        Exercices
                                    </template>
                                </b-tab>


                            </b-tabs>

                            <hr class="bg-primary">

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <promo-banner/>

        <footer-content/>

    </div>
</template>

<script>
    import FooterContent from "../partials/footer.vue";
    import {__scroll} from "../../utils";
    import CourseIntro from "../partials/course-content/course-intro.vue";
    import CourseSubtitle from "../partials/course-content/course-subtitle.vue";
    import TitleGrand from "../partials/course-content/title-grand.vue";
    import CourseBlock from "../partials/course-content/course-block.vue";
    import PromoBanner from "../partials/promo-banner.vue";
    import InlineCourseItem from "../partials/inline-course-item.vue";

    export default {
        name: "chapter",
        components: {InlineCourseItem, PromoBanner, CourseBlock, TitleGrand, CourseSubtitle, CourseIntro, FooterContent},
        data() {
            return {
                chapitres: [
                    {
                        number: 1,
                        name: ' Nombres et calculs',
                        lecons: [
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                        ]
                    },
                    {
                        number: 2,
                        name: ' Grandeus et mesures',
                        lecons: [
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                        ]
                    },
                    {
                        number: 3,
                        name: ' Nombres et calculs',
                        lecons: [
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                        ]
                    },
                ]
            }
        },
        mounted() {
            __scroll()
        }
    }
</script>
