<template>

    <div>

        <div class="container-fluid exam-top">
            <div class="row py-4 text-white">

                <div class="container py-5">
                    <div class="row py-5">
                        <div class="col-md-6">

                            <div class="row align-items-center">

                                <div class="col-md-12">
                                    <div class="row align-items-center">

                                        <div class="col-md-2">
                                            <hr class="bg-danger">
                                        </div>

                                        <div class="col-md-3 text-danger border border-danger py-2 text-center">
                                            <h3>
                                                <strong>
                                                    JJ-45
                                                </strong>
                                            </h3>
                                        </div>

                                        <div class="col-md-7">
                                            <h3>
                                                <strong>
                                                    Portail de revision du <span class="text-primary">Bac C</span>
                                                    Camerounais
                                                </strong>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="row py-2">
                                        <div class="col-12 text-white-50">
                                            Le Baccaraleaurat ou Bac est le diplôme qui marque la fin des études
                                            secondaires. En 2020-2021, le nouveau Bac entre pleinement en vigueur. Pour
                                            la voie générale comme la voie technologique, le contrôle continu compte
                                            pour 40% de la note finale et les épreuves finales pour 60%. L'épreuve de
                                            rattrapage est ouverte aux candidats ayant obtenu une note entre 8 et 10.
                                        </div>
                                    </div>

                                    <div class="row py-2">

                                        <div class="col-md-6">
                                            <button class="btn bg-white text-primary shadow-sm w-100 py-3">
                                                Je veux passer mon Bacc
                                            </button>
                                        </div>

                                        <div class="col-md-6">
                                            <button class="btn bg-white text-primary shadow-sm w-100 py-3">
                                                Aider mon enfant
                                            </button>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid bg-warning" style="height: 10px;"></div>

        <div class="container py-5">
            <div class="row">

                <div class="col-md-3">
                    <div class="row">

                        <div class="col-12 d-flex align-items-center">


                            <i class="fa fa-dot-circle mr-2 text-primary"></i>

                            <h4>
                                <strong>
                                    Révision du Bac C 2020
                                </strong>
                            </h4>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-12 text-muted">
                            <p>
                                Intelligentsia vous accompagne pas à pas dans la préparation du Bac 2020 qui se
                                déroulera
                                exceptionnellement en contrôle continu. Conseils pour travailler efficacement, interview
                                des
                                enseignants, vidéos, actualités : autant d'outils pour rester motivé jusqu'au 4 juillet
                                et
                                réussir haut la main !
                            </p>

                            <ul class="customized-list">
                                <li>Fiches de révision</li>
                                <li>Exercice des notions importantes</li>
                                <li>Correction</li>
                                <li>Chat avec des profs</li>
                            </ul>

                        </div>

                    </div>

                </div>

                <div class="col-md-9">
                    <div class="row">

                        <course-item :href="{name: 'exam-sub', params: {cours: 'math'}}"
                                     v-for="i in [1,1,1,1,1,1,1,1,1,1]" coef="6" size="3"/>

                    </div>
                </div>

            </div>
        </div>

        <div class="container py-5">

            <div class="row">

                <div class="col-4">
                    <h3><strong>
                        Anciens sujets et <span class="text-primary">corrigés</span>
                    </strong></h3>
                </div>

                <div class="col-8">
                    <img src="@img/vectors/writing-long.svg" alt="" class="w-100">
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    Le Baccaraleaurat ou Bac est le diplôme qui marque la fin des études
                    secondaires. En 2020-2021, le nouveau Bac
                </div>
            </div>

            <div class="row py-4">

                <div class="col-12">

                    <div class="row justify-content-around">

                        <last-test-item/>
                        <last-test-item/>
                        <last-test-item/>
                        <last-test-item/>
                        <last-test-item/>

                    </div>

                    <div class="row justify-content-around">

                        <last-test-item/>
                        <last-test-item/>
                        <last-test-item/>
                        <last-test-item/>
                        <last-test-item/>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-9">

                    <div class="row py-4">
                        <div class="col-md-7">
                            <h3>
                                <strong>Organisation des épreuves</strong>
                            </h3>
                            <p>
                                L'office du Baccalaureat des séries générales prévues pour le mois de juin n'a pour le
                                moment encore divulgué l'emploi de temps des épreuves
                            </p>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <h3>
                                <strong>
                                    Candidats libres
                                </strong>
                            </h3>

                            <p>
                                <i class="fa fa-arrow-right"></i>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facilis fuga impedit,
                                possimus quis sit!
                            </p>

                            <p>
                                <i class="fa fa-arrow-right"></i>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facilis fuga impedit,
                                possimus quis sit!
                            </p>

                        </div>

                        <div class="col-md-6">
                            <h3>
                                <strong>
                                    Candidats réguliers
                                </strong>
                            </h3>

                            <p>
                                <i class="fa fa-arrow-right"></i>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facilis fuga impedit,
                                possimus quis sit!
                            </p>

                            <p>
                                <i class="fa fa-arrow-right"></i>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facilis fuga impedit,
                                possimus quis sit!
                            </p>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12 text-muted">
                            <img src="@img/vectors/check-circle-colored.svg" alt="" style="width: 20px;height: 20px;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda consectetur,
                            consequatur delectus dicta dignissimos eveniet excepturi, facilis fuga molestias nemo odio,
                            quam ratione voluptatum.
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="container-fluid py-4">

            <div class="row align-items-center">

                <div class="col-1">
                    <hr>
                </div>

                <div class="col-md-5 border py-2">

                    <div class="row">

                        <div class="col-2">
                            <img src="@img/phone-icon.png" alt="">
                        </div>

                        <div class="col-10">

                            <div class="text-muted">
                                Pour plus d'informations, contactez le service de l'office du Baccalaureat du Cameroun
                            </div>

                            <div class="row py-1">
                                <div class="col-6 border-right text-center">
                                    <h2>
                                        <strong>222 305 567</strong>
                                    </h2>
                                </div>

                                <div class="col-6">

                                    <u><a href="http://www.obc.com">
                                        <h3>
                                            <strong>
                                                www.obc.com
                                            </strong>
                                        </h3>
                                    </a></u>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <p class="text-muted">
                                        BP 8479-Yaoundé, Bastos, avenue des banques
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-md-6">
                    <hr>
                </div>

            </div>

        </div>

        <parents-testimonial-container/>

        <promo-banner/>

        <footer-content/>

    </div>

</template>

<script>
    import CourseItem from "../partials/course-item.vue";
    import LastTestItem from "../partials/last-test-item.vue";
    import ParentsTestimonialContainer from "../partials/parents-testimonial-container.vue";
    import PromoBanner from "../partials/promo-banner.vue";
    import FooterContent from "../partials/footer.vue";

    export default {
        name: "exam",
        components: {FooterContent, PromoBanner, ParentsTestimonialContainer, LastTestItem, CourseItem}
    }
</script>

<style lang="scss">
    .exam-top {
        background: url("~@img/bac-exam-bg.png") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;

        & > div {
            background: #000000aa;
        }
    }
</style>
