<template>
    <div>

        <div class="container-fluid partnership-top">
            <div class="row">
                <div class="container text-white">
                    <div class="row py-5">
                        <div class="col-md-8 py-5">
                            <h3>
                                Faites-vous partie de nos ecoles partenaires ?
                            </h3>

                            <p>
                                Nos enseignants de l'education nationale répondent aux auestion 6j/7 de 17h à 20h pour
                                le
                                soutien de votre enfant et sa compréhension des cours en maths, français, SVT, chimie,
                                physique,
                                technologie, anglais, espagnol, histoire/geographie et philosophie. Un coach en
                                orientation est
                                également disponible.
                            </p>

                            <div class="row">
                                <div class="col-9">
                                    <form action="" class="w-100">

                                        <div class="form-group">
                                            <label for="ets">Choisir un etablissement</label>
                                            <input type="text" class="form-control" id="ets"
                                                   placeholder="Etablissement...">
                                        </div>

                                        <div class="form-group">
                                            <label for="matr">Matricule</label>
                                            <input type="text" class="form-control" id="matr"
                                                   placeholder="Etablissement...">
                                        </div>

                                        <div class="form-group">
                                            <label for="email-partnership">Adresse email</label>
                                            <input type="text" class="form-control" id="email-partnership"
                                                   placeholder="Etablissement...">
                                        </div>

                                        <div class="form-group">
                                            <label for="password-partnership">Mot de passe</label>
                                            <input type="text" class="form-control" id="password-partnership"
                                                   placeholder="Etablissement...">
                                        </div>

                                        <div class="row partnership-form-btns">
                                            <div class="col-6">
                                                <button class="btn bg-white text-primary py-4 w-100">
                                                    Me connecter à mon école
                                                </button>
                                            </div>

                                            <div class="col-6">
                                                <button class="btn btn-primary py-4 w-100">
                                                    Demander un compte à l'administrateur
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <trusted/>

            <div class="row pb-5">
                <div class="col-12 text-center text-muted">
                    Nos enseignants de l'education nationale répondent aux auestion 6j/7 de 17h à 20h pour
                    le
                    soutien de votre enfant et sa compréhension des cours en maths, français, SVT, chimie,
                    physique,
                    technologie, anglais, espagnol, histoire/geographie et philosophie. Un coach en
                    orientation est
                    également disponible.
                </div>
            </div>

        </div>

        <promo-banner/>

        <footer-content/>

    </div>
</template>

<script>
    import Trusted from "../partials/trusted.vue";
    import PromoBanner from "../partials/promo-banner.vue";
    import FooterContent from "../partials/footer.vue";

    export default {
        name: "partnership",
        components: {FooterContent, PromoBanner, Trusted}
    }
</script>

<style lang="scss">
    .partnership-form-btns {
        button {
            font-size: .8em !important;
        }
    }

    .partnership-top {
        background: url('~@img/partners-bg.png') no-repeat center;
        background-size: cover;

        & > .row {
            background: #00000055;
        }
    }
</style>
