<template>

    <div>
        <div class="container-fluid top">
            <div class="row py-4 text-white">
                <div class="container">
                    <div class="row py-4">
                        <div class="col-md-6">
                            <h2><strong>Le programme scolaire en <span class="text-warning">{{ $route.params.classe }}</span></strong></h2>
                            <p>
                                Pour une transition entre lax maternelle et l'entrée au primaire en douceur,
                                l'enseignement des apprentissages fondamentaux est pensée pour que l'élève trouve
                                naturellement ses repères et s'acclimate à son nouvel environnement scolaire. <br>
                                L'apprentissage de la lecture et de l'écriture ainsi que l'apprantissage des nombres
                                sont les
                                deux grand enjeux du {{ $route.params.classe }}. <br>
                                Retrouvez nos fiches de cours de {{ $route.params.classe }}.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-warning" style="height: 10px;"></div>

        <div class="container">

            <div class="row py-5">

                <div class="col-md-7">

                    <div class="row">
                        <div class="col-12 text-secondary">
                            <h4><strong>Matières au programme</strong></h4>
                        </div>
                    </div>
                    <div class="row programme-cours">

                        <course-item>
                            <img slot="image" src="@img/course-icons/calculator.svg" alt="" class="w-75">
                        </course-item>

                        <course-item>
                            <img slot="image" src="@img/course-icons/justice-scale.svg" alt="" class="w-75">
                        </course-item>

                        <course-item>
                            <img slot="image" src="@img/course-icons/london.svg" alt="" class="w-75">
                        </course-item>

                        <course-item>
                            <img slot="image" src="@img/course-icons/maps-and-location.png" alt="" class="w-75">
                        </course-item>

                        <course-item>
                            <img slot="image" src="@img/course-icons/music.svg" alt="" class="w-75">
                        </course-item>

                        <course-item>
                            <img slot="image" src="@img/course-icons/online-learning.svg" alt="" class="w-75">
                        </course-item>

                        <course-item>
                            <img slot="image" src="@img/course-icons/ball.png" alt="" class="w-75">
                        </course-item>

                    </div>

                </div>

                <div class="col-md-5 py-3">
                    <h3><strong>Introduction aux élèves de {{ $route.params.classe }} </strong></h3>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto aut delectus dolore ea
                        harum hic ipsa iste iure, iusto modi possimus unde veritatis? Animi fugiat quo sint suscipit
                        tempora.
                    </p>

                    <yt-embed />

                    <table class="w-100 text-muted my-3">
                        <tr>
                            <td>Français</td>
                            <td>10h</td>
                        </tr>
                        <tr>
                            <td>Mathématiques</td>
                            <td>10h</td>
                        </tr>
                        <tr>
                            <td>Anglais</td>
                            <td>10h</td>
                        </tr>
                        <tr>
                            <td>Education physique et sportive</td>
                            <td>10h</td>
                        </tr>
                        <tr>
                            <td>Enseignements artistiques</td>
                            <td>10h</td>
                        </tr>
                    </table>

                    <div class="row">

                        <div class="col-md-6">
                            <a href="#" class="btn bg-white text-primary shadow-sm w-100 mt-3 py-2" role="button">
                                Créer un compte
                            </a>
                        </div>

                        <div class="col-md-6">
                            <a href="#" class="btn bg-white shadow-sm text-primary w-100 mt-3 py-2" role="button">
                                Créer un compte
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="container-fluid courses-slider-father">

            <div class="row">

                <div class="container py-4 text-white">

                    <div class="col-md-4">
                        <h3><strong>Les fiches les plus recherchées</strong></h3>
                    </div>

                    <courses-slider/>

                </div>

            </div>

        </div>

        <parents-testimonial-container/>

        <promo-banner/>


        <footer-content/>

    </div>

</template>

<script>
    import courseItem from "../partials/course-item.vue"
    import YtEmbed from "../partials/yt-embed.vue";
    import CoursesSlider from "../partials/courses-slider.vue";
    import TestimonialItem from "../partials/testimonial-item.vue";
    import FooterContent from "../partials/footer.vue";
    import {__scroll} from "../../utils";
    import PromoBanner from "../partials/promo-banner.vue";
    import ParentsTestimonialContainer from "../partials/parents-testimonial-container.vue";

    export default {
        name: "ProgrammePage",
        components: {
            ParentsTestimonialContainer,
            PromoBanner, TestimonialItem, CoursesSlider, YtEmbed, courseItem, FooterContent},
        mounted() {
            __scroll()
        }
    }
</script>

<style lang="scss">
    .top {
        background: url("~@img/primary-program-bg.png") no-repeat center;
        background-size: cover;

        & > .text-white {
            background: linear-gradient(90deg, transparentize(#000, .2), transparent);
        }
    }
    .courses-slider-father{
        background: radial-gradient(#eee, #000);
    }
</style>
