<template>
    <div id="courses-slide" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner p-4">

            <div class="carousel-item active">
                <div class="row">
                    <courses-slide-item/>
                    <courses-slide-item/>
                    <courses-slide-item/>
                    <courses-slide-item/>
                    <courses-slide-item/>
                    <courses-slide-item/>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <courses-slide-item/>
                    <courses-slide-item/>
                    <courses-slide-item/>
                    <courses-slide-item/>
                    <courses-slide-item/>
                    <courses-slide-item/>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#courses-slide" role="button" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#courses-slide" role="button" data-slide="next">
            <i class="fa fa-chevron-right"></i>
            <span class="sr-only">Next</span>
        </a>

    </div>
</template>

<script>
    import CoursesSlideItem from "./courses-slide-item.vue";
    export default {
        name: "courses-slider",
        components: {CoursesSlideItem},
    }
</script>

<style lang="scss">

    .carousel-control-next, .carousel-control-prev{
        color: var(--primary);
    }

    .carousel-control-prev{
        left: -50px;
        width: 50px;
    }
    .carousel-control-next{
        right: -50px;
        width: 50px;
    }

</style>
