<template>
    <div class="col-md-2">

        <div class="w-100 bg-light rounded-lg d-flex justify-content-center align-items-center py-5">
            <img src="@img/vectors/calculator.svg" alt="Item" class="w-50">
        </div>

        <span class="px-2 bg-primary text-white rounded-pill" style="font-size: .8rem;" >Culture générale</span>
        <div class="pt-1" style="font-size: .6rem;" >
            <strong>
                L'addition à deux chiffres et ...
            </strong>
        </div>
    </div>
</template>

<script>
    export default {
        name: "courses-slide-item"
    }
</script>
