<template>

    <router-link :to="href" :class="`col-md-${size} course`">
        <div class="w-100 py-4">
            <div class="p-3 shadow border d-flex flex-column align-items-center w-100">
                <slot name="image">
                    <img src="@img/course-icons/calculator.svg" alt="Cours" class="w-50">
                </slot>
                <div class="py-1">
                    {{ label }}
                </div>

                <div v-if="coef" class="text-primary">
                    Coefficient {{ coef }}
                </div>

            </div>
        </div>
    </router-link>

</template>

<script>
    export default {
        name: "course-item",
        props: {
            label: {type: String, default: "Mathématiques"},
            coef: {type: String},
            size: {type: String, default: '3'},
            href: {default: {name: 'cours', params: {cours: 'math', classe: 'CP'}} }
        }
    }
</script>

<style lang="scss">
    .course {

        color: var(--dark);

        &:hover{
            text-decoration: none;
            color: var(--primary);
        }

        & > div > div {
            border-radius: 15px;

            & > img {
                height: 100px;
                object-fit: scale-down;
                object-position: center;
            }
        }

    }
</style>
