<template>
    <div class="col-md-6 my-5 d-flex flex-column justify-content-between align-items-center">

        <div v-if="(parseInt(index) + 1) % 2 === 0" class="pb-5 mb-3">
            <h5><strong>{{ title }}</strong></h5>
            <p class="text-muted">
                <slot name="content">
                    Nos enseignants de l'education nationale répondent aux auestion 6j/7 de 17h à 20h pour le soutien de
                    votre enfant et sa compréhension des cours en maths, français, SVT, chimie, physique, technologie,
                    anglais, espagnol
                </slot>
            </p>

            <ul v-if="liste" class="customized-list row">
                <li v-for="item in liste" class="col-md-6">{{ item }}</li>
            </ul>

        </div>


        <slot name="image">
            <img src="@img/description/tasklist.png" alt="Description" class="w-75">
        </slot>

        <div v-if="(parseInt(index) + 1) % 2 === 1" class="pt-5 mt-3">
            <h4><strong>{{ title }}</strong></h4>
            <p class="text-muted">
                <slot name="content">
                    Nos enseignants de l'education nationale répondent aux auestion 6j/7 de 17h à 20h pour le soutien de
                    votre enfant et sa compréhension des cours en maths, français, SVT, chimie, physique, technologie,
                    anglais, espagnol
                </slot>
            </p>

            <ul v-if="liste"  class="customized-list row">
                <li v-for="item in liste" class="col-md-6">{{ item }}</li>
            </ul>

        </div>

    </div>
</template>

<script>
    export default {
        name: "description-item",
        props: {
            title: {type: String, default: "Titre"},
            index: {type: String},
            liste: {type: Array}
        }
    }
</script>
