<template>
    <div class="col-12 py-1">
        <div class="row align-items-center shadow py-2 i-c-i" :class="active ? `i-c-i-active` : ``">
            <div class="ici-image col-3">
                <slot name="image">
                    <img src="@img/course-icons/justice-scale.svg" alt="User" class="w-50">
                </slot>
            </div>

            <div class="ici-content col-7">

                <div class="text-center text-primary">
                    {{ name }}
                </div>

                <div style="font-size: .9em;" class="d-flex justify-content-between">

                    <span>
                        Coef {{ coef }}
                    </span>

                    <span class="text-primary">
                        <b-icon-dot></b-icon-dot>
                    </span>

                    <span>
                        {{ chaps }} chaps
                    </span>

                </div>

            </div>

            <div class="col-2 text-white">
                <b-icon-caret-right-fill></b-icon-caret-right-fill>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "inline-course-item",
        props: {
            name: {type: String, default: 'Français'},
            coef: {type: String, default: '6'},
            chaps: {type: String, default: '7'},
            active: {type: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    .i-c-i{
        transition: .3s;
        cursor: pointer;
        border-radius: 10px;
    }

    .i-c-i-active, .i-c-i:hover {
        background: var(--primary);

        .text-primary {
            color: #ffffff !important;
        }
    }
</style>
