<template>
    <div class="container py-5 my-5">

        <div class="row">
            <div class="col-md-4">
                <div><strong class="text-primary">Témoignages</strong></div>
                <h4><strong>Ces parents d'élèves de {{ $route.params.classe }} témoignent</strong></h4>
            </div>

            <div class="col-md-8">
                <img src="@img/vectors/writing-long.svg" alt="" class="w-100">
            </div>

        </div>

        <div class="row">

            <testimonial-item>
                <img slot="image" src="@img/users/user-1.png" alt="User" class="w-100 rounded-circle">
            </testimonial-item>
            <testimonial-item>
                <img slot="image" src="@img/users/user-2.png" alt="User" class="w-100 rounded-circle">
            </testimonial-item>
            <testimonial-item>
                <img slot="image" src="@img/users/user-3.png" alt="User" class="w-100 rounded-circle">
            </testimonial-item>

        </div>


    </div>
</template>

<script>
    import TestimonialItem from "./testimonial-item.vue";

    export default {
        name: "parents-testimonial-container",
        components: {TestimonialItem}
    }
</script>

<style scoped>

</style>
