<template>
    <div class="col-md-3 text-center">
        <div class="list-group pricing-box shadow">

            <div class="list-group-item text-white" :class="`bg-${type}`">
                <strong>Module {{ module }}</strong>
            </div>

            <div class="list-group-item">
                <div :class="`text-${type === 'dark' ? 'muted' : type}`" class="d-flex align-items-center justify-content-center">
                    <u><sup style="font-size: 1.5em;">XAF &nbsp; </sup></u> <strong style="font-size: 3em;">{{ price }}</strong>
                </div>

                <hr class="w-75 my-1">
                <strong>
                    <i class="fa fa-calendar-alt"></i> &nbsp;
                    {{ periode }}
                </strong>
                <hr class="w-75 my-1">

                <div style="font-size: .9em;" class="py-4 text-muted pricing-text">
                    {{ description }}
                </div>

                <a role="button" :href="link" class="btn btn-outline-dark rounded-pill w-75 py-2">
                    Découvrir
                </a>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props: {
            periode: {type: String, default: "1 mois"},
            module: {type: String, default: "MENSUEL"},
            price: {type: String, default: "15000"},
            description: {type: String, default: "Nos enseignants de l'education nationale répondent aux question " +
                    "6j/7 de 17h à 20h pour le soutien de votre enfant et sa"},
            link: {type: String, default: "#"},
            type: {type: String, default: "dark"}
        },
    };
</script>

<style lang="scss" >
    .pricing-box{
        border-radius: 20px !important;
    }
</style>
