<template>
    <div class="col-md-4 py-5">
        <div class="w-100" style="font-size: .8rem;">

            <p :class="`text-${color()}`">
                {{ content }}
            </p>

            <div class="row align-items-center">
                <div class="col-2">

                    <slot name="image">
                        <img src="@img/users/user.svg" alt="User" class="w-100 rounded-circle">
                    </slot>

                </div>

                <div class="col">
                    <h6 class="m-0 p-0">{{ user }}</h6>
                    <strong>{{ type }}</strong>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: "testimonial-item",
    props: {
        content: {
            type: String,
            default: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur beatae cum" +
                " cumque earum fugit possimus quasi rem repellat sed? Lorem ipsum dolor sit amet," +
                "consectetur adipisicing elit. Esse facere hic iure, modi nam porro quibusdam rem rerum" +
                "voluptatem voluptatum."
        },
        user: {type: String, default: "Alain NGANGUE TSAMACK"},
        image: {type: String, default: "@img/user-test.jpg"},
        type: {type: String, default: "Parent"},
        muted: {type: String, default: 'true'}
    },
    methods: {
        color() {
            return this.muted === 'true' ? 'muted' : 'white'
        }
    }
}
</script>
