<template>
    <div class="row py-5">

        <div class="col-12 py-2">
            <img style="width: 20px; height: 20px;" src="@img/vectors/check-circle-colored.svg" alt=""> Trusted by over 600
            scholls
        </div>

        <div class="col-12 d-flex flex-wrap trusted">
            <img src="@img/partners/partner-1.png" alt="Trusted">
            <img src="@img/partners/partner-2.png" alt="Trusted">
            <img src="@img/partners/partner-3.png" alt="Trusted">
            <img src="@img/partners/partner-4.png" alt="Trusted">
            <img src="@img/partners/partner-5.png" alt="Trusted">
            <img src="@img/partners/partner-6.png" alt="Trusted">
            <img src="@img/partners/partner-7.png" alt="Trusted">
            <img src="@img/partners/partner-8.png" alt="Trusted">
        </div>
    </div>
</template>

<script>
    export default {
        name: "trusted"
    }
</script>
