<template>
    <div class="col-md-4 my-2">
        <div class="row">

            <div class="p-1">
                <svg width="10px" height="10px" >
                    <circle r="5" cx="5" cy="5" fill="#ffab00"></circle>
                </svg>
            </div>

            <div class="col-11">
                <h6><strong>{{ title }}</strong></h6>
                <p style="font-size: .8rem;">{{ content }}</p>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "why-item",
        props: {
            title: {type: String, default: "Titre"},
            content: {type: String, default: "Contenu"},
            image: {type: String, default: "@img/image_preview.png"}
        },
    };
</script>
