<template>
    <div class="w-100">
        <iframe :style="`width: 100%;height: ${ height };`" :src="`https://www.youtube.com/embed/${ target }`"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</template>

<script>
    export default {
        name: "yt-embed",
        props: {
            target: {type: String, default: '8tEtynAj2lw'},
            height: {type: String, default: '240px'}
        }
    }
</script>
